HOST: https://zon-ddp-prod.apigee.net

--- Sidekick v1.0 ---
---
![ZON Sidekick](http://sidekickapi.cloudapp.net/images/sidekick_icon.png)  

Welcome to ZON Sidekick API documentation.  

The ZON SIDEKICK Application Server APIs use industry standard protocols such as JavaScript Object Notation (JSON) and OAuth 2.0.  
To call the APIs, you primarily use Representational State Transfer (REST) requests that return info formatted in JSON.  

This architecture enables us to support a variety of platforms, including those for web, desktop, and mobile apps, like those for the iOS and Android operating systems.  
In addition, there are Microsoft software development kits (SDKs) for developing apps for Windows Phone and Windows 8.

#### Required Parameters
Every request needs a valid API key and you can set this value as an HTTP parameter named "client_id".

## Authentication & Authorization
ZON APIs use the [OAuth 2.0 protocol](http://tools.ietf.org/html/draft-ietf-oauth-v2-31) for authentication and authorization.  
ZON supports several OAuth 2.0 flows that cover common web server, client-side (JavaScript or other) and mobile device applications scenarios.
#### Basic steps
Applications follow the same basic pattern when accessing a ZON APIs using OAuth 2.0. At a high level, using OAuth 2.0 to access a ZON APIs consists of three steps:
#### 1. Register Application
All applications that access a ZON APIs must be registered by ZON. 
The result of this registration process is a set of values that are known to both ZON and your application (e.g. client_id, client_secret, redirect_uri, etc.). 
The set of values generated varies based on what type of application you are building. 
For example a mobile device application does not require a secret, but a web server application does.
#### 2. Obtain an Access Token from ZON Authorization Server
Before your application can access a ZON API, it must obtain an access token that grants access to that API. 
A single access token may grant varying degrees of access to multiple APIs. 
The set of resources and operations permitted by an access token is controlled during the access token request via a variable parameter called 'scope'. 
Several scopes may be included in a request.  
There are several ways to make this request, and they vary based on the type of application you are building. 
For example, a mobile device application may request an access token using a browser redirect to ZON login web site.
The request requires the user to login to ZON. After logging in, the user will see the permissions requested by the application and is asked if they are willing to grant your application those permissions. This process is called "user consent".
If the user grants permission to your application, your application will be sent an access token or an authorization code (which is used to obtain an access token). If the user does not grant permission to your application, ZON Authorization Server returns an error.
#### 3. Send Access Token to an API
After an application has obtained an access token, it may send the access token in a request to a ZON API. 
Access tokens are valid only for the set of operations and resources described in the token request. 
For example, if an access token is issued for the ZON API "Get User Subscribed Channels", it will not grant any other information about the user. 
Access tokens are sent to a ZON API as a query string parameter (access_token).
#### Client-side and Mobile Device Applications Scenario
This scenario begins by redirecting a browser (popup, or full-page if needed) to a ZON URL with a set of query string parameters that indicate the type of ZON API access the application requires. ZON handles the user authentication and user consent. The result is an access token. 
After this the client includes the access token in a ZON API request.
  
![ZON OAuth 2.0 Implicit Grant Flow](http://sidekickapi.cloudapp.net/images/oauth2_zon_implicit_grant.png)  
Fig.1: ZON OAuth 2.0 Implicit Grant Flow (Client-side and mobile device applications)
#### Web Applications Scenario
This scenario begins by redirecting a browser (popup, or full-page if needed) to a ZON URL with a set of query string parameters that indicate the type of ZON API access the application requires. ZON handles the user authentication and user consent. The result is an authorization code. The web application exchanges the authorization code by an access token.
After this the client includes the access token in a ZON API request.
  
![ZON OAuth 2.0 Authorization Code Grant Flow](http://sidekickapi.cloudapp.net/images/oauth2_zon_authcode_grant.png)  
Fig.2: ZON OAuth 2.0 Authorization Code Grant Flow (Web applications)
---

-- Authentication --

>Redirects user to login ZON single sign-on web site where the user will authenticate its credentials or delegate its login to Google, Facebook, Microsoft Live or Twitter. After successful authentication the user will be prompted in login ZON app authorization page to accept the permissions that Sidekick app needs to act on his behalf (Example: Permission to send recording order. If the user accepts the authorization will be persisted and never asked again. After the user allows the login ZON will request an access token for the logged in user and send it to the redirect url (inside query parameters).

##Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>response_type</b></td>
        <td>query</td>
        <td>Response type indicates whether it is a Web Server flow or a User Agent/Mobile Device flow.  
            <p>Valid values:
                <ul>
                    <li>code – For Web Server Flow to be used in web client applications</li>
                    <li>token – For User Agent/Mobile Device flow to be used in Javascript web application, native mobile applications, etc.</li>
                </ul>
            </p>
        </td>
    </tr>
    <tr>
        <td><b>scope</b></td>
        <td>query</td>
        <td>Permissions requested by client application to user.  
        Examples for Sidekick API:
        <ul>
            <li><b>read</b>: Default permission to read generic domain data like contents, channels, genres, avatars, etc.</li>
            <li><b>user_profile</b>: Permission to read profile information(client, service account and IRIS profile info).</li>
            <li><b>user_tv_channels_portfolio</b>: Permission to read subscribed user tv channels.</li>
            <li><b>user_set_top_boxes</b>: Permission to read and update user set top boxes(friendly name and is default properties are updtable).</li>
            <li><b>user_content_preferences</b>: Permission to manage user collected filters, preferred content and preferred tags, to post likes, dislikes and cancel previous actions over content.</b></li>
            <li><b>user_recordings</b>: Permission to manage user recordings in NPVR.</li>
            <li><b>user_facebook</b>: Permission to access user Facebook friends and post messages about content.</li>
        </td>
    </tr>
    <tr>
        <td><b>state</b></td>
        <td>query</td>
        <td>An opaque value used by the client to maintain state between the request and callback. The authorization server includes this value when redirecting the user-agent back to the client.  The parameter SHOULD be used for preventing cross-site request forgery. Please go to <a href="http://tools.ietf.org/html/draft-ietf-oauth-v2-31">OAuth 2.0 specification</a></td>  </tr>
    <tr>
        <td><b>redirect_uri</b></td>
        <td>query</td>
        <td>Redirect URI configured in APIGee Platform for the client application. If the response_type is token then the access token is returned on the fragment of the redirect_uri, and client side script extracts the access token from the response. 
        If response_type is code the access token is returned on the body of the response (redirect_uri) server side code. The redirect_uri is a resource from client application that exchanges the authorization code by an access token.</td>
    </tr>
</table>
## Response Status
>- __302__: Found (Login App Redirect)
GET /v1/oauth2/authorizeapp
< 302
< Content-Type: "text/plain"
< Location: "http://{login.zon.authorizeapp.url}?response_type={response_type}&client_id={client_id}&redirect_uri={redirect_uri}&scope={scope}&state={state}"
< Content-Length: {content-length}


> Exchange authorization code by access token. To be used in Web Server Flow.

##Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>base64_encode(client_id:client_secret)</b></td>
        <td>header</td>
        <td>Base64 encoded string with client_id:client_secret</td>
    </tr>
    <tr>
        <td><b>code</b></td>
        <td>body</td>
        <td>Authorization code delivered by authorizeapp resource</td>
    </tr>
    <tr>
        <td><b>redirect_uri</b></td>
        <td>body</td>
        <td>Redirect URI configured in APIGee Platform for the client application.</td>
    </tr>
</table>
## Response Status
>- __200__: Ok
POST /v1/oauth2/accesstoken?client_id={client_id}&grant_type=authorization_code
> Authorization: {base64_encode(client_id:client_secret)}
> Content-Type: application/x-www-form-urlencoded
code={code}&grant_type=authorization_code&response_type=code&redirect_uri={redirect_uri}
< 200
< Content-Type: application/json
{
  "issued_at" : "1376508117743",
  "application_name" : "1940ff10-9f74-4656-84da-c9c5b1a62a56",
  "scope" : "READ",
  "status" : "approved",
  "api_product_list" : "[api_product_1]",
  "expires_in" : "7199",
  "developer.email" : "developer.1@mail.com",
  "organization_id" : "0",
  "refresh_token" : "go7B6DkC6d7tRugbu7v1sTjg8d4rvChV",
  "client_id" : "rUCS29zCG2GsZjqqDE3YwBhqGvXGvgjc",
  "access_token" : "RzP4y3d6yPI3iUyLLa4tzgsGAANZ",
  "organization_name" : "zonddp",
  "refresh_count" : "0"
}


-- Configuration Settings  --

>Lists configuration settings for a specific client application identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of ConfigurationSetting](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_configuration_setting.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
GET /v1/sidekick/ConfigurationSettings?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#ConfigurationSettings",
    "value": [
        {
            "Id": "344a2ac0-e28e-4ef7-9a0e-d49cca0c3946",
            "Name": "vod_highlights_category",
            "Value": "725"
        }
    ]
}

>Get configuration setting information by identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>setting_id</b></td>
        <td>template</td>
        <td>Configuration setting identifier. Example: 344a2ac0-e28e-4ef7-9a0e-d49cca0c3946</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Setting](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_configuration_setting.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If configuration setting has not been found.
GET /v1/sidekick/ConfigurationSettings('{setting_id}')?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#ConfigurationSettings/@Element",
    "Id": "344a2ac0-e28e-4ef7-9a0e-d49cca0c3946",
    "Name": "vod_highlights_category",
    "Value": "725"
}

-- Contents --

>Lists all EPG program events and VOD titles available in ZON Sidekick content catalog.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Content](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_content.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
GET /v1/sidekick/Contents?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Contents",
    "value": [
        {
            "Id": "2725928",
            "Title": "Jornal Da Tarde",
            "Type": "epg",
            "Subtype": "program_event",
            "Rating": null,
            "Synopsis": "O Jornal da Tarde é o líder de audiências no seu horário.Todos os dias, às 13 horas, a sua hora de almoço é completada com a atualização das notícias que marcam a atualidade nacional e mundial, desde a política, a economia, a sociedade e sem esquecer o desporto.Reportagens no local, entrevistas em direto e sempre a isenção e o respeito pela verdade que marcam a informação na RTP.",
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/epg_3.jpg",
            "ReleaseYear": null,
            "NumberOfLikes": 0,
            "EpgEventData": {
                "EventId": 2725928,
                "ProgramId": 2725928,
                "UtcDateTimeStart": "2013-05-17T12:00:00",
                "UtcDateTimeEnd": "2013-05-17T13:15:00",
                "Duration": 75,
                "SeriesId": 0,
                "Season": 0,
                "ServiceId": 27
                "Episode": 0,
                "EpisodeTitle": null,
                "FlagCatchup": false,
                "FlagStartOver": false,
                "FlagNPVR": false,
                "FlagHD": false
            },
            "VodData": null,
            "FreebaseId": null,
            "RelatedKeywords": []
        },
        {
            "Id": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
            "Title": "Greek T5: Ep.14",
            "Type": "vod",
            "Subtype": null,
            "Rating": "NC",
            "Synopsis": "Este é o dia-a-dia de Rusty, um caloiro que, depois de entrar para a faculdade, decide mudar e distanciar-se do «marrão» pouco popular que sempre foi. Tudo muda quando se torna membro de uma das Repúblicas de estudantes da instituição.",
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/vod_6.jpg",
            "ReleaseYear": "2011",
            "NumberOfLikes": 0,
            "EpgEventData": null,
            "VodData": {
                "PackageName": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
                "PackageType": "SVODFilho",
                "Runtime": "00:40:58",
                "OriginalTitle": "Greek T5: Ep.14",
                "FlagHD": false
            },
            "FreebaseId": null,
            "RelatedKeywords": []
        }
    ]
}

>Get the basic content information for a specific content id.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Content](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_content.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Contents/@Element",
    "Id": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
    "Title": "Greek T5: Ep.14",
    "Type": "vod",
    "Subtype": null,
    "Rating": "NC",
    "Synopsis": "Este é o dia-a-dia de Rusty, um caloiro que, depois de entrar para a faculdade, decide mudar e distanciar-se do «marrão» pouco popular que sempre foi. Tudo muda quando se torna membro de uma das Repúblicas de estudantes da instituição.",
    "ImageUrl": "http://sidekickapi.cloudapp.net/images/vod_6.jpg",
    "ReleaseYear": "2011",
    "NumberOfLikes": 0,
    "EpgEventData": null,
    "VodData": {
        "PackageName": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
        "PackageType": "SVODFilho",
        "Runtime": "00:40:58",
        "OriginalTitle": "Greek T5: Ep.14",
        "FlagHD": false
    },
    "FreebaseId": null,
    "RelatedKeywords": []
}

>Lists content awards by content identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Award](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_award.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Awards?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Awards",
    "value": [
        {
            "Name": "Academy Awards",
            "SortOrder": 1
        }
    ]
}

>Lists content directors (people) for a specific content id.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Topic](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_topic.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Directors?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Topics",
    "value": [
        {
            "FreebaseId": "/m/0bdh23",
            "Name": "George Lucas",
            "GroupId": "People",
            "Type": "/film/director",
            "Template": "People"
            "TopicData": null,
            "PersonData": {
                "ImdbId": "nm0000129",
                "ImdbUrl": "http://www.imdb.com/name/nm0000129",
                "Gender": "Male"
            }
            "LocationData": null,
            "FilmData": null,
            "TVProgramData": null,
            "SoundTrackData": null
        }
    ]
}

>Lists content actors (people with character role in the content) by content identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of ContentActor](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_content_actor.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Actors?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#ContentActors",
    "value": [
        {
            "Id": "4ab09064-0c1e-4595-8822-8b582dd547a3",
            "Characters": "Jules Winnfield",
            "Name": "Samuel L. Jackson",
            "PersonFreebaseId": "|m|0f5xn",
            "ContentId": "000004_LUS_PULPFICTION_"
        }
    ]
}

>Lists content genres by content identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Genre](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_genre.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Genres?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Genres",
    "value": [
        {
            "Id": 256,
            "Name": "Filmes",
            "SortOrder": 1,
            "ParentGenreId": null
        }
    ]
}

>Lists content tags (timeline based and metadata) by content identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of ContentTag](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_content_tag.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Tags?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#ContentTags",
    "value": [
        {
            "Id": "50598230-7e5b-44f0-b6ae-836b876c94bf",
            "Tag": "Samuel L. Jackson",
            "TimelineStart": null,
            "TimelineEnd": null,
            "ContentId": "000004_LUS_PULPFICTION_",
            "FreebaseId": "|m|0f5xn"
        },
        {
            "Id": "e84317ed-7b04-4f56-964f-47ac342449a1",
            "Tag": "Pulp Fiction",
            "TimelineStart": null,
            "TimelineEnd": null,
            "ContentId": "000004_LUS_PULPFICTION_",
            "FreebaseId": "|m|0f4_l"
        },
        {
            "Id": "2fd2651c-6ed6-436f-ab2f-b65a4441a142",
            "Tag": "John Travolta",
            "TimelineStart": null,
            "TimelineEnd": null,
            "ContentId": "000004_LUS_PULPFICTION_",
            "FreebaseId": "|m|0f502"
        },
        {
            "Id": "6ce5e35f-8224-483b-8ca4-82a9b5b5e13a",
            "Tag": "Quentin Tarantino",
            "TimelineStart": null,
            "TimelineEnd": null,
            "ContentId": "000004_LUS_PULPFICTION_",
            "FreebaseId": "|m|0693l"
        }
    ]
}

>Lists content related contents for a specific content id.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Content](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_content.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/RelatedContents?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Contents",
    "value": [
        {
            "Id": "2725928",
            "Title": "Jornal Da Tarde",
            "Type": "epg",
            "Subtype": "program_event",
            "Rating": null,
            "Synopsis": "O Jornal da Tarde é o líder de audiências no seu horário.Todos os dias, às 13 horas, a sua hora de almoço é completada com a atualização das notícias que marcam a atualidade nacional e mundial, desde a política, a economia, a sociedade e sem esquecer o desporto.Reportagens no local, entrevistas em direto e sempre a isenção e o respeito pela verdade que marcam a informação na RTP.",
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/epg_3.jpg",
            "ReleaseYear": null,
            "NumberOfLikes": 0,
            "EpgEventData": {
                "EventId": 2725928,
                "ProgramId": 2725928,
                "UtcDateTimeStart": "2013-05-17T12:00:00",
                "UtcDateTimeEnd": "2013-05-17T13:15:00",
                "Duration": 75,
                "SeriesId": 0,
                "Season": 0,
                "ServiceId": 27,
                "Episode": 0,
                "EpisodeTitle": null,
                "FlagCatchup": false,
                "FlagStartOver": false,
                "FlagNPVR": false,
                "FlagHD": false
            },
            "VodData": null,
            "FreebaseId": null,
            "RelatedKeywords": []
        },
        {
            "Id": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
            "Title": "Greek T5: Ep.14",
            "Type": "vod",
            "Subtype": null,
            "Rating": "NC",
            "Synopsis": "Este é o dia-a-dia de Rusty, um caloiro que, depois de entrar para a faculdade, decide mudar e distanciar-se do «marrão» pouco popular que sempre foi. Tudo muda quando se torna membro de uma das Repúblicas de estudantes da instituição.",
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/vod_6.jpg",
            "ReleaseYear": "2011",
            "NumberOfLikes": 0,
            "EpgEventData": null,
            "VodData": {
                "PackageName": "S100000_LUS_006817_SVODFILMSER_GREEK_T5_EP14_63355014_",
                "PackageType": "SVODFilho",
                "Runtime": "00:40:58",
                "OriginalTitle": "Greek T5: Ep.14",
                "FlagHD": false
            },
            "FreebaseId": null,
            "RelatedKeywords": []
        }
    ]
}

>Lists content topic (enriched content) by content identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>content_id</b></td>
        <td>template</td>
        <td>Content identifier. Example for 'vod' content: "003897_LUS_STARTREK_"; Example for 'epg' content: "3314556"</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>    
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Topic](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_topic.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If content has not been found.
GET /v1/sidekick/Contents('{content_id}')/Topic?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Topics/@Element",
    "FreebaseId": "|m|0f4_l",
    "Name": "Pulp Fiction",
    "GroupId": "Contents",
    "Type": "Film",
    "Template": "Generic",
    "TopicData": {
        "ShortDescription": null,
        "Description": "Pulp Fiction is a 1994 American black comedy crime film directed by Quentin Tarantino, who co-wrote its screenplay with Roger Avary. The film is known for its eclectic dialogue, ironic mix of humor and violence, nonlinear storyline, and a host of cinematic allusions and pop culture references. The film was nominated for seven Oscars, including Best Picture; Tarantino and Avary won for Best Original Screenplay. It was also awarded the Palme d'Or at the 1994 Cannes Film Festival. A major critical and commercial success, it revitalized the career of its leading man, John Travolta, who received an Academy Award nomination, as did costars Samuel L. Jackson and Uma Thurman. Directed in a highly stylized manner, Pulp Fiction connects the intersecting storylines of Los Angeles mobsters, fringe players, small-time criminals, and a mysterious briefcase. Considerable screen time is devoted to conversations and monologues that reveal the characters' senses of humor and perspectives on life. The film's title refers to the pulp magazines and hardboiled crime novels popular during the mid-20th century, known for their graphic violence and punchy dialogue. Pulp Fiction is self-referential from its opening moments, beginning with a title card that gives two dictionary definitions of \"pulp.\" The plot, as in many of Tarantino's other works, is presented out of chronological sequence.",
        "OfficialWebsite": null,
        "WikipediaId": "54173",
        "WikipediaLink": "http://en.wikipedia.org/wiki/index.html?curid=54173",
        "RelatedWebpages": [],
        "TopicImage": {
            "Title": null,
            "Url": "https://usercontent.googleapis.com/freebase/v1/image/m/0h5t6px?maxwidth=600&maxheight=600",
            "Source": "Youtube",
            "Type": "Video"
        },
        "RelatedImages": [
            {
                "Title": null,
                "Url": "https://usercontent.googleapis.com/freebase/v1/image/m/0h5t6px?maxwidth=600&maxheight=600",
                "Source": "Freebase",
                "Type": "Image"
            },
            {
                "Title": null,
                "Url": "https://usercontent.googleapis.com/freebase/v1/image/m/0h5t6mp?maxwidth=600&maxheight=600",
                "Source": "Freebase",
                "Type": "Image"
            },
            {
                "Title": null,
                "Url": "http://ia.media-imdb.com/images/M/MV5BMjE0ODk2NjczOV5BMl5BanBnXkFtZTYwNDQ0NDg4._V1_SY317_CR4,0,214,317_.jpg",
                "Source": "IMDB",
                "Type": "Image"
            },
            {
                "Title": null,
                "Url": "http://upload.wikimedia.org/wikipedia/en/8/82/Pulp_Fiction_cover.jpg",
                "Source": "Wikipedia",
                "Type": "Image"
            }
        ],
        "RelatedVideos": [
            {
                "Title": null,
                "Url": "http://www.youtube.com/watch?v=PE9Qm8mShik",
                "Source": "Youtube",
                "Type": "Video"
            },
            {
                "Title": null,
                "Url": "http://www.youtube.com/watch?v=wZBfmBvvotE",
                "Source": "Youtube",
                "Type": "Video"
            },
            {
                "Title": null,
                "Url": "http://www.youtube.com/watch?v=Ik-RsDGPI5Y",
                "Source": "Youtube",
                "Type": "Video"
            }
        ]
    },
    "PersonData": null,
    "LocationData": null,
    "FilmData": {
        "ImdbId": "tt0110912",
        "ImdbUrl": "http://www.imdb.com/title/tt0110912",
        "ImdbRating": "9.0",
        "RottenTomatoesRating": "94%",
        "Directors": [
            {
                "Id": "|m|0693l",
                "Name": "Quentin Tarantino"
            }
        ],
        "Awards": [],
        "Plotkeywords": [],
        "Actors": [
            {
                "Actor": {
                    "Id": "|m|0f502",
                    "Name": "John Travolta"
                },
                "Characters": null
            },
            {
                "Actor": {
                    "Id": "|m|0f5xn",
                    "Name": "Samuel L. Jackson"
                },
                "Characters": null
            }
        ],
        "Soundtrack": {
            "Id": "|m|01gq_26",
            "Name": "Pulp Fiction"
        },
        "CriticsReviews": []
    },
    "TvProgramData": null,
    "SoundTrackData": null
}

-- Filters

>Lists all atomic filters available in ZON Sidekick catalog.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Filter](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_filter.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
GET /v1/sidekick/Filters?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Filters",
    "value": [
        {
            "Id": "ContentType_TV",
            "Value": "TV",
            "Group": "ContentType",
            "SortOrder": 1,
            "ParentFilterId": null
        },
        {
            "Id": "Channel_232",
            "Value": "+TVI",
            "Group": "Channel",
            "SortOrder": 12,
            "ParentFilterId": null
        },
        {
            "Id": "Genre_256",
            "Value": "Filmes",
            "Group": "Genre",
            "SortOrder": 1,
            "ParentFilterId": null
        },
        {
            "Id": "Subgenre_257",
            "Value": "Ação/Aventura",
            "Group": "Subgenre",
            "SortOrder": 2,
            "ParentFilterId": "Genre_256"
        }
    ]
}

>Get filter information by identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>filter_id</b></td>
        <td>template</td>
        <td>Atomic filter identifier. Example: 344a2ac0-e28e-4ef7-9a0e-d49cca0c3946</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Filter](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_filter.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If filter has not been found.
GET /v1/sidekick/Filters('{filter_id}')?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Filters/@Element",
    "Id": "Subgenre_257",
    "Value": "Ação/Aventura",
    "Group": "Subgenre",
    "SortOrder": 2,
    "ParentFilterId": "Genre_256"
}

Get parent filter information by filter identifier.
## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>filter_id</b></td>
        <td>template</td>
        <td>Atomic filter identifier. Example: 344a2ac0-e28e-4ef7-9a0e-d49cca0c3946</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Filter](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_filter.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If filter has not been found.
GET /v1/sidekick/Filters('{filter_id}')/ParentFilter?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Filters/@Element",
    "Id": "Genre_256",
    "Value": "Filmes",
    "Group": "Genre",
    "SortOrder": 1,
    "ParentFilterId": null
}

>Get sub filters by filter identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>filter_id</b></td>
        <td>template</td>
        <td>Atomic filter identifier. Example: 344a2ac0-e28e-4ef7-9a0e-d49cca0c3946</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Filter](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_filter.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If filter has not been found.
GET /v1/sidekick/Filters('{filter_id}')/SubFilters?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Filters",
    "value": [
        {
            "Id": "Subgenre_257",
            "Value": "Ação/Aventura",
            "Group": "Subgenre",
            "SortOrder": 2,
            "ParentFilterId": "Genre_256"
        },
        {
            "Id": "Subgenre_258",
            "Value": "Animação",
            "Group": "Subgenre",
            "SortOrder": 3,
            "ParentFilterId": "Genre_256"
        },
        {
            "Id": "Subgenre_259",
            "Value": "Comédia",
            "Group": "Subgenre",
            "SortOrder": 4,
            "ParentFilterId": "Genre_256"
        }
    ]
}

-- Contents Filtering

>Gets available filters(Genres, SubGenres, EpgChannels, Days, Awards and ContentTypes) options for a given set of content identifiers.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>contentsIds</b></td>
        <td>body</td>
        <td>Comma separated list of content identifiers</td>
    </tr>
</table>
## Response Body
[Array of Filter](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_filter.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
POST v1/sidekick/Filters/AvailableFilters?client_id={client_id}
> Accept: application/json
> Content-Type: application/json
{
    "contentsIds": "001401_LUS_1VIDACOMSENTIDO_,004300_WATERMELON_OPATINHOFEIO_,008236_ZON_REPBRINQUEDOS_"
}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Filters",
    "value": [
        {
            "Id": "Genre_256",
            "Value": "Filmes",
            "Group": "Genre",
            "SortOrder": 1,
            "ParentFilterId": null
        },
        {
            "Id": "Subgenre_257",
            "Value": "Ação/Aventura",
            "Group": "Subgenre",
            "SortOrder": 2,
            "ParentFilterId": "Genre_256"
        },
        {
            "Id": "ContentType_TV",
            "Value": "TV",
            "Group": "ContentType",
            "SortOrder": 1,
            "ParentFilterId": null
        }
    ]
}

>Filter contents by selected filter options for a given set of content identifiers.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>contentsIds</b></td>
        <td>body</td>
        <td>Comma separated list of content identifiers</td>
    </tr>
    <tr>
        <td><b>filtersIds</b></td>
        <td>body</td>
        <td>Comma separated list of filter identifiers</td>
    </tr>
</table>
## Response Body
Array of String (Content identifiers found.)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
POST v1/sidekick/Contents/ExecuteFilters?client_id={client_id}
> Accept: application/json
> Content-Type: application/json
{
    "contentsIds": "001401_LUS_1VIDACOMSENTIDO_,004300_WATERMELON_OPATINHOFEIO_,008236_ZON_REPBRINQUEDOS_",
    "filtersIds" : "ContentType_TV,Genre_256"
}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Collection(Edm.String)",
    "value": [
        "001401_LUS_1VIDACOMSENTIDO_",
        "004300_WATERMELON_OPATINHOFEIO_"
    ]
}

-- Contents IRIS Search

> Lists keyword IRIS search suggestions by keyword, area and criteria limited by a number of max results.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>keyword</b></td>
        <td>query</td>
        <td>Keyword value to search (at least 3 characters)</td>
    </tr>
    <tr>
        <td><b>area</b></td>
        <td>query</td>
        <td>Area to search: all, vod or epg</td>
    </tr>
    <tr>
        <td><b>criteria</b></td>
        <td>query</td>
        <td>Keyword criteria items can be: <b>all</b> (Searches value in the fields title, actor and director); <b>title</b> (Searches value in the field title); <b>actor/director</b> (Searches value in the fields actor and director)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>maxResults</b></td>
        <td>query</td>
        <td>Max number of keywords that will be returned, when all is chosen this is the maximum of the aggregated results. Default value is 6.</td>
    </tr>
</table>
## Response Body
[Array of Keyword](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_complex_types_1_1_keyword.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
POST v1/sidekick/Contents/GetSuggestions?client_id={client_id}
> Accept: application/json
> Content-Type: application/json
{
    "keyword":"cal", 
    "area":"all", 
    "criteria":"all", 
    "maxResults":6
}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://localhost:51572/OData.svc/$metadata#Collection(Sidekick.Domain.ComplexTypes.Keyword)",
    "value": [
        {
            "Name": "Avatar",
            "Tag": "Title"
        },
        {
            "Name": "Abduction",
            "Tag": "Title"
        },
        {
            "Name": "George Lucas",
            "Tag": "Actor/Director"
        },
        {
            "Name": "Stephen Segall",
            "Tag": "Actor/Director"
        }
    ]
}

> Search contents by keyword, area and criteria limited by a number of max results.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>keyword</b></td>
        <td>query</td>
        <td>Keyword value to search (at least 3 characters)</td>
    </tr>
    <tr>
        <td><b>area</b></td>
        <td>query</td>
        <td>Area to search: all, vod or epg</td>
    </tr>
    <tr>
        <td><b>criteria</b></td>
        <td>query</td>
        <td>Keyword criteria items can be: <b>all</b> (Searches value in the fields title, actor and director); <b>title</b> (Searches value in the field title); <b>actor/director</b> (Searches value in the fields actor and director)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>maxResults</b></td>
        <td>query</td>
        <td>Max number of keywords that will be returned, when all is chosen this is the maximum of the aggregated results. Default value is 100.</td>
    </tr>
</table>
## Response Body
Array of String (Content identifiers found)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
POST v1/sidekick/Contents/Search?client_id={client_id}
> Accept: application/json
> Content-Type: application/json
{
    "keyword":"Californication", 
    "area":"all", 
    "criteria":"all", 
    "maxResults":30
}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Collection(Edm.String)",
    "value": [
        "1406244",
        "024698_LUS_BREV_DJANGOLIBERTADO_",
        "22306378"
    ]
}

-- EPG Channels --

> Lists all EPG channels available in ZON EPG central repository.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of EpgChannel](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_epg_channel.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
GET v1/sidekick/EpgChannels?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#EpgChannels",
    "value": [
        {
            "ServiceId": "10",
            "Name": "Eurosport",
            "ChannelId": "10",
            "Description": null,
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/zonLogo.png",
            "Position": 130,
            "Type": "SD",
            "Rating": "1",
            "DvbLocator": "dvb://36.26.138"
        },
        {
            "ServiceId": "100",
            "Name": "Travel Channel",
            "ChannelId": "100",
            "Description": null,
            "ImageUrl": "http://sidekickapi.cloudapp.net/images/zonLogo.png",
            "Position": 110,
            "Type": "SD",
            "Rating": "1",
            "DvbLocator": "dvb://36.45.77E"
        }
    ]
}

> Get the basic EPG channel information by service id.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>service_id</b></td>
        <td>template</td>
        <td>EPG channel service identifier</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[EpgChannel](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_epg_channel.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If EPG channel identifier by "service_id" has not been found.
GET v1/sidekick/EpgChannels('{service_id}')?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#EpgChannels/@Element",
    "ServiceId": "5",
    "Name": "RTP 1",
    "ChannelId": "5",
    "Description": null,
    "ImageUrl": "http://sidekickapi.cloudapp.net/images/zonLogo.png",
    "Position": 1,
    "Type": "SD",
    "Rating": "1",
    "DvbLocator": "dvb://36.24.32B"
}

-- Genres --
> Lists all genres available in ZON Sidekick content catalog. The genres come from EPG central repository.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Genre](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_genre.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
GET v1/sidekick/Genres?client_id={client_id}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Genres",
    "value": [
        {
            "Id": 256,
            "Name": "Filmes",
            "SortOrder": 1,
            "ParentGenreId": null
        },
        {
            "Id": 257,
            "Name": "Ação/Aventura ",
            "SortOrder": 2,
            "ParentGenreId": 256
        }
    ]
}

> Get the basic genre information for a specific genre id.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>genre_id</b></td>
        <td>template</td>
        <td>Genre identifier</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Genre](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_genre.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If genre identified by "genre_id" has not been found.
GET v1/sidekick/Genres({genre_id})?client_id={client_id}
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Genres/@Element",
    "Id": 256,
    "Name": "Filmes",
    "SortOrder": 1,
    "ParentGenreId": null
}

> Get parent genre information by genre identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>genre_id</b></td>
        <td>template</td>
        <td>Genre identifier</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Genre](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_genre.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If genre identified by "genre_id" has not been found.
GET /v1/sidekick/Genres('{genre_id}')/ParentGenre?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Genres/@Element",
    "Id": 256,
    "Name": "Filmes",
    "SortOrder": 1,
    "ParentGenreId": null
}

> Get sub genres by genre identifier.

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
    <tr>
        <td><b>genre_id</b></td>
        <td>template</td>
        <td>Genre identifier</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Genre](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_genre.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
>- __404__: Not Found -> If genre identified by "genre_id" has not been found.
GET /v1/sidekick/Genres('{genre_id}')/SubGenres?client_id={client_id}
> Accept: application/json
< 200
< Content-Type: application/json
{
    "odata.metadata": "http://sidekickapi.cloudapp.net/OData.svc/$metadata#Genres",
    "value": [
        {
            "Id": 257,
            "Name": "Ação/Aventura",
            "SortOrder": 2,
            "ParentGenreId": 256
        },
        {
            "Id": "Subgenre_258",
            "Name": "Animação",
            "SortOrder": 3,
            "ParentGenreId": 256
        },
        {
            "Id": 259,
            "Name": "Comédia",
            "SortOrder": 4,
            "ParentFilterId": 256
        }
    ]
}

-- Awards --

> Lists all awards available in ZON Sidekick content catalog. 

## Required Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>client_id</b></td>
        <td>query</td>
        <td>Client application identifier (API Key)</td>
    </tr>
</table>
## Optional Parameters
<table style="width: 100%; margin: 12px 0 0 0;">
    <tbody>
        <tr>
            <td>Name</td>
            <td>Type</td>
            <td>Description</td>
        </tr>
    </tbody>
    <tr>
        <td><b>$filter</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10231_The_filter_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$expand</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#102313_The_expand_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$select</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10232_The_select_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$orderby</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10233_The_orderby_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$top</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10234_The_top_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$skip</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10235_The_skip_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$inlinecount</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10236_The_inlinecount_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
    <tr>
        <td><b>$format</b></td>
        <td>query</td>
        <td>Follow <a href="http://www.odata.org/documentation/odata-v3-documentation/odata-core/#10237_The_format_System_Query_Option">this link</a> for query option detailed information.</td>
    </tr>
</table>
## Response Body
[Array of Award](http://sidekickapi.cloudapp.net/docs/html/class_sidekick_1_1_domain_1_1_entities_1_1_award.html)
## Response Status
>- __200__: Ok  
>- __401__: Unauthorized -> If "client_id" (client application consumer key) has not been sent or is invalid.
[...]
